<% include ./partials/header %>
    
    <div id="landing-header">
 		<h1>eSports Stats and Scores Home Page</h1>
		<a href="/videogames" class="homepage btn btn-lg btn-default">Start Here with Games</a>
    </div>
    
    <li id="landing-wallpaper"></li>
    
<% include ./partials/footer %>